/**
=====================================================
SIGVTR
Grid System
=====================================================
*/

.grid{

display:grid;

gap:20px;

}

.grid-2{

grid-template-columns:repeat(2,1fr);

}

.grid-3{

grid-template-columns:repeat(3,1fr);

}

.grid-4{

grid-template-columns:repeat(4,1fr);

}

.flex{

display:flex;

}

.flex-column{

flex-direction:column;

}

.flex-center{

display:flex;

align-items:center;

justify-content:center;

}

.flex-between{

display:flex;

justify-content:space-between;

align-items:center;

}

.gap-sm{

gap:8px;

}

.gap-md{

gap:16px;

}

.gap-lg{

gap:24px;

}