/**
=====================================================
SIGVTR
Progress
=====================================================
*/

.progress{

height:8px;

background:#ECEFF1;

border-radius:20px;

overflow:hidden;

}

.progress__bar{

height:100%;

width:0;

background:var(--color-primary);

transition:width .4s ease;

}