/**
=====================================================
SIGVTR
Toast
=====================================================
*/

.toast{

position:fixed;

right:20px;

bottom:20px;

min-width:280px;

padding:16px;

border-radius:12px;

background:#263238;

color:#fff;

box-shadow:var(--shadow-lg);

opacity:0;

pointer-events:none;

transform:translateY(20px);

transition:.30s;

z-index:9999;

}

.toast.show{

opacity:1;

transform:translateY(0);

pointer-events:auto;

}

.toast--success{

background:var(--color-success);

}

.toast--warning{

background:var(--color-warning);

}

.toast--danger{

background:var(--color-danger);

}

.toast--info{

background:var(--color-info);

}